* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 231, 231);
}

#root {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

form {
    min-height: 520px;
    width: 320px;
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 20px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label,
input,
textarea {
    font: inherit;
    font-size: inherit;
}

.section-form {
    display: flex;
    flex-direction: column;
}

.section-name {
    font-size: clamp(1.4rem, calc(2.5vw + 0.5rem), 3rem);
    align-self: center;
    margin-bottom: 1rem;
}

.group-title {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem 0;
    border-radius: 10px;
    background-color: rgb(161, 161, 161);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.group-title:hover {
    background-color: rgb(209, 210, 211);
    transform: translateY(-1px);
}

.inputs-container {
    margin-top: 0.5rem;
    background-color: rgb(242, 237, 237);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 20px;
}
